{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSameLine": true,
    "overrides": [
      {
        "files": "*.md",
        "options": {
          "semi": true
        }
      }
    ]
  }