.grid-card-container {
    /* grid = responsive grid that fills the page, inline-grid = fixed size */
    display: grid;
    /* 1 "auto" for each column, auto = fill the page */
    grid-template-columns: auto auto;
    justify-content: center;
    background-color: gray;
    /* space the cards a minimum of 50px apart */
    grid-gap: 50px;
}

div.card-fonts {
    /* Force vertical align within cells = center */
    vertical-align: center;
    /* Sets font for everything on the page */
    font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
    font-stretch: ultra-condensed;
}
